
/* Site-wide */
body{
	font-family: Open Sans; 
	font-size: 18px;
	background-color: #FFF;
}

#header{
	background-color: #224;
	color: #fff;
	padding: 5px;
	overflow: auto;
}

form input{
	font-family: Open Sans; 
	font-size: 18px;
	background-color: #ddd;
	border: 1px solid #ccc;
	margin-top: 5px;
	margin-left: 5px;
}

form input[type="text"]{
	background-color: #fff;
}
form input[type="password"]{
	background-color: #fff;
}

form input:hover{
	background-color: #eee;
}

/* Standard header */
#logged_in{
	float: left;
}

#logout{
	float: right;
}
#logout a{
	color: #fff;
}

/* Login screen */
#login_panel{
	width: 500px;
	border: 1px solid #ccc;
	margin: 0 auto;
	margin-top: 200px;
	padding: 30px;
	text-align: center;
}

#login_message{
	background-color: #eef;
	margin-bottom: 10px;
}
#login_panel label{
	width: 100px;
	display: inline-block;
}

/* Forum list */
#discussion_listing{
	width: 500px;
	margin: 0 auto;
	margin-top: 50px;
	border: 1px solid #ccc;
	padding: 15px;
	text-align: center;
}
#discussion_list h2{
	
}

.discussion_block{
	
}

/* Discussion forum */
#root_post{
	margin-bottom: 15px;
}

#root_prompt{
	border: 1px solid #DDD;
	padding: 10px;
}

.root_button{
	text-align: center;
	background-color: #ddd;
	padding: 10px;
}
.root_button:hover{
	background-color: #eee;
}

#root_post form{
	text-align: right;
}

.post{
	border: 1px solid #ccc;
	padding: 0;
	margin-bottom: 10px;
}

.post_head{
	margin: 0;
	overflow: auto;
	padding: 10px;
}

.post_author{
	float: left;
	font-weight: bold;
}

.post_date{
	float: right;
	font-style: italic;
}

.post_body{
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;
}

.post_footer{
	margin: 0;
	overflow: auto;
	padding: 5px;
	text-align: right;
}

.reply_button{
	float: right;
	padding: 0px 0px 0px 10px;
	cursor: pointer;
}

.promote_button{
	float: right;
	cursor: pointer;
}

.promoted{
	background-color: #ffe;
}

.promoted .post_author{
	color: #800;
}

.peek_tab{
	position: absolute;
	bottom: 20px;
	width: 60px;
	height: 80px;
	background-color: #DDD7;
	line-height: 80px;
	text-align: center;
	font-size: 35px;
}
.peek_tab:hover{
	background-color: #EEE;
}

#peek_left_tab{
	left: 0;
	border-radius: 0 10px 10px 0;
}

#peek_right_tab{
	right: 0;
	border-radius: 10px 0 0 10px;
}

#peek_overlay{
	width: 600px;
	height: 100vh;
	border: 2px solid #BBB;
	position: fixed;
	top:0;
	display:none;
}

#peek_overlay iframe{
	width: 600px;
	height: 100%;
}

.peek_left{
	left: 0;
}

.peek_right{
	right: 0;
}

#peek_heading{
	background-color: #422;
	color: #fff;
	padding: 5px;
	overflow: auto;
}

/* Admin UI */
#param_panel{
	border: 1px solid #DDD;
	margin-top: 10px;
	padding: 10px;
}

.data_table{
	width: 400px;
	margin: 0 auto;
	border-collapse: collapse;
}
.data_table td, th{
	padding: 4px;
	text-align: center;
	width: 50%;
	border: 1px solid #ddd;
}

#edit_link{
	text-align: right;
	margin-top: 0;
}
